<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="The Abava Event package tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <whitelist>
        <directory>./</directory>
        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </whitelist>
    <logging>
        <log type="coverage-html" target="./tests/coverage" charset="UTF-8" yui="true" highlight="true"/>
    </logging>
</phpunit>